@{
    ViewBag.Title = "Home Page";
}
<h1>ASP.NET LEARNING</h1>
<p>A paragraph is a distinct section of writing, typically consisting of 
    several sentences, that focuses on a single idea or topic.
    It is used to organize and structure written work, making it 
    easier for readers to follow the author's thoughts. A basic paragraph
    often includes a topic sentence, supporting sentences with details, 
        and a concluding sentence. </p>

