@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1>hello world!</h1>
    <h2>WHAT IS ASP.NET?</h2>
    <p>ASP.NET is an open-source, cross-platform web framework developed by 
    Microsoft for building modern web applications and services with .NET. It is a 
    successor to Classic ASP and provides a robust and comprehensive 
    environment for web development. </p>
</main>